.configuration-container{
  height:100vh;
  background-color: #336699;
  color: #fff;
  padding: 36px 48px;
  overflow: auto;
}
.configuration-component-container{
  background: #19334d;
  display: flex;
  padding: 8px 16px;
  margin-top:2px;
}
.configuration-target-container, .configuration-browsers-container, .configuration-devices-container{
  height: 60px;
}
.configuration-target-item, .configuration-settings-item{
  margin: auto;
}
.configuration-settings-item{
  width: 100%;
}
.configuration-list-container, .configuration-setting-container{
  height:480px;
  overflow: auto;
}
.configuration-setting-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.configuration-pagesetting-container{
  height: 60%;
  padding: 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-spacing: 5px
}
.ant-checkbox-wrapper{
  color:#ddd;
  border:1px solid #336699;
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 5px;
}
.ant-checkbox-inner{
  background: #336699;
  border-color: #336699
}
.configuration-browsers-container .ant-checkbox-wrapper-checked, .configuration-browsers-container .ant-checkbox-checked .ant-checkbox-inner::after{
  border-color: #ffcc00
}
.configuration-browsers-container .ant-checkbox-checked .ant-checkbox-inner{
  background: transparent;
  border-color: #ffcc00
} 
.configuration-pagesetting-container .ant-checkbox-wrapper{
  font-size: 14px;
  border: none;
  padding: none;
}
.configuration-devices-container .ant-checkbox-wrapper-checked, .configuration-devices-container .ant-checkbox-checked .ant-checkbox-inner::after{
  border-color: #33cc33
}
.configuration-devices-container .ant-checkbox-checked .ant-checkbox-inner{
  background: transparent;
  border-color: #33cc33
} 
.configuration-advanced-container .ant-checkbox-wrapper-checked, .configuration-advanced-container .ant-checkbox-checked .ant-checkbox-inner::after{
  border-color: #08c
}
.configuration-advanced-container .ant-checkbox-checked .ant-checkbox-inner{
  background: transparent;
  border-color: #08c
} 

.ant-list-item-main{
  color:#ddd
}
.ant-input-number{
  width: 50px;
  margin:0 5px;
}
.ant-btn {
  width: 100%;
  color: #fff;
  font-weight: 600;
  border-color:#336699
}